body{
background:#0f172a;
color:white;
font-family: 'Segoe UI', sans-serif;
}

/* Navbar */

.navbar{
background:#020617;
border-bottom:2px solid #38bdf8;
}

/* Hero */

.hero{
height:90vh;
background:linear-gradient(135deg,#020617,#1e293b);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

/* Buttons */

.btn-main{
background:linear-gradient(45deg,#22c55e,#38bdf8);
border:none;
padding:12px 25px;
border-radius:30px;
color:white;
font-weight:bold;
transition:0.3s;
}

.btn-main:hover{
transform:scale(1.1);
box-shadow:0 0 20px #38bdf8;
}
